.body {
    padding: 0; 
}

.container-fluid {
    padding: 0
}

a {
    cursor: pointer;
}

.footer {
    background-color:#e6dede; 
}

#hero {
    background-color: black;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#header {
    color: ghostwhite;
    font-family: fantasy;
    margin-left: 3%;
}

.social-media {
    padding:5%; 
}

.fa {
    padding: 2%;
}

#title {
    color: whitesmoke;
    margin-left: 3%;
}

#image {
    background-color: dimgrey;
    padding:15%;
}

#main {

}

img {
    border-radius: 8px;
    width: 75%;
    text-align: left;
}

#image {
}