.body {
    padding: 0; 
}

.container-fluid {
    padding:0; 
}

a {
    cursor: pointer;
}

a.navbar-brand {
    cursor:pointer; 
}

.hero-section {
    padding-top: 60px; 
    background-image: url("../images/gray.jpeg");
    height:100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#statement {
    margin-top: 10%; 
    text-align: center;
    color:aliceblue; ; 
}

#skills-box {
    padding:50px; 
}

.projects-row {
    padding: 50px; 
}

.footer {
    background-color:#e6dede; 
}

.social-media {
    padding:5%; 
}

.fa {
    padding: 2%;
}
